body {
    background: #ffffff;
}

#search-content::placeholder {
    color: black;
}

#education-vertical-menu {
    background: #ffffff;
}

#resetFilterButton {
    height: 50px;
}
.fixed-height-box {
    height: 200px;
}

#educationCategoryList,
#educationPriceList,
#educationRatingList {
    transition: 0.4s;
}

#educationCategoryList:hover,
#educationPriceList:hover,
#educationRatingList:hover {
    background-color: rgb(247, 246, 246);
}

.accordion-item,
.accordion-body,
.accordion-header,
.accordion-button {
    background-color: white;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit;
}

button.accordion-button:focus {
    box-shadow: inherit;
}

/* EDUCATION DETAIL */
#thumbnail-container {
    position: relative;
    display: inline-block;
}

#thumbnail {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.5); Semi-transparent black overlay */
    color: #fff; /* Text color */
}

#play-button {
    font-size: 3em;
    color: #fff; /* Play button color */
    cursor: pointer;
}

#locked-text {
    margin-top: 10px;
    color: #fff; /* Text color */
    font-size: 14px;
    text-align: center;
}

#purchaseEducationBtn {
    background-color: #01a7a3;
    transition: background-color 0.3s ease;
}

#purchaseEducationBtn:hover {
    background-color: #1cc5c2;
}

/* Add hover effect and transition to the link */
#browseMoreContent {
    color: #01a7a3;
    transition: color 0.3s ease;
}

#browseMoreContent:hover {
    color: #1cc5c2;
}
