body {
    background: #ffffff;
}

#search-content::placeholder {
    color: black;
}

/* EDUCATION DETAIL */
#thumbnail-container {
    position: relative;
    display: inline-block;
}

#thumbnail {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.5); Semi-transparent black overlay */
    color: #fff; /* Text color */
}

#play-button {
    font-size: 3em;
    color: #fff; /* Play button color */
    cursor: pointer;
}

#locked-text {
    margin-top: 10px;
    color: #fff; /* Text color */
    font-size: 14px;
    text-align: center;
}

#pay-button,#paymentButton,
#finish-pay-button,
#loginToPurchaseBtn,
#rateEducationBtn {
    background-color: #01a7a3;
    transition: background-color 0.3s ease;
}

#pay-button:hover,#paymentButton:hover,
#finish-pay-button:hover,
#loginToPurchaseBtn:hover,
#rateEducationBtn:hover {
    background-color: #1cc5c2;
}

/* Add hover effect and transition to the link */
#browseMoreContent {
    color: #01a7a3;
    transition: color 0.3s ease;
}

#browseMoreContent:hover {
    color: #1cc5c2;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position: absolute;
    display: none;
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.rated:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.rate:not(:checked) > label:before {
    content: "★ ";
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.star-rating-complete {
    color: #c59b08;
}
.rating-container .form-control:hover,
.rating-container .form-control:focus {
    background: #fff;
    border: 1px solid #ced4da;
}
.rating-container textarea:focus,
.rating-container input:focus {
    color: #000;
}
.rated {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rated:not(:checked) > input {
    position: absolute;
    display: none;
}
.rated:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 50px;
    color: #ffc700;
}
.rated:not(:checked) > label:before {
    content: "★ ";
}
.rated > input:checked ~ label {
    color: #ffc700;
}
.rated:not(:checked) > label:hover,
.rated:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rated > input:checked + label:hover,
.rated > input:checked + label:hover ~ label,
.rated > input:checked ~ label:hover,
.rated > input:checked ~ label:hover ~ label,
.rated > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 50px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: "★ ";
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#star {
    color: #01a7a3;
    padding-right: 0.7rem;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    left: -5%;
}

.carousel-control-next {
    right: -5%;
}

.browse-all-content {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.browse-all-content:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}

a img {
    transition: all 0.1s linear;
}

a:hover img {
    transform: scale(1.25);
}
