.titleContainer h1{
color:#015051;
}
.titleContainer h3{
color:#01A7A3
}

.sendProposalBtn{
border-radius: 15px;
background: rgba(1, 167, 163, 0.90);
color: whitesmoke;
}

.downloadReportBtn{
border-radius: 15px;
border: 1px solid rgba(0, 0, 0, 0.25);
background: #FFF;
}

.rightContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.downloadReportBtn:hover{
    background-color: #ffffffbc;
}
.sendProposalBtn:hover{
    background-color: #ffffffbc;
}



#myTabs{
    /* background-color: red; */
}

#myTabs .nav-item{
    margin-left: 2rem;
}

#myTabs .nav-item .nav-link{
    background-color: transparent;
}