.titleContainer h1{
color:#015051;
}
.titleContainer h3{
color:#01A7A3
}

.rightContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#myTabs .nav-item{
    margin-left: 2rem;
}

#myTabs .nav-item .nav-link{
    background-color: transparent;
}

/* #sendProposalBtn {
    background-color: #01a7a3;
    transition: background-color 0.3s ease;
}

#sendProposalBtn:hover{
    background-color: #1cc5c2;
} */

#franchise-vertical-menu {
    background: #ffffff;
}